body {
    font-family: Arial, sans-serif;
    background-color: #f3eeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: rgb(89, 90, 180);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(83, 33, 33, 0.1);
    text-align: center;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #12457b;
    color: rgb(248, 237, 237);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  